@page "/register"
@inject Funds.Data.IAuthService AuthService

<h3>Register</h3>
<label for="email">Email</label>
<input type="email" id="email" @bind-value="email">
<label for="login">Login</label>
<input type="text" id="login" @bind-value="login">
<label for="password">Password</label>
<input type="password" id="password" @bind-value="password">
<p>@accessToken</p>
<p>@refreshToken</p>
<button @onclick="SignUp">Register</button>
@code {
    string email = null!;
    string login = "";
    string password = "";
    string accessToken = "";
    string refreshToken = null!;
    async void SignUp()
    {
        var tokens = await AuthService.RegisterUser(login, password, email == ""? null: email);
        if(tokens is null)
        {
            accessToken = "register isn't successful";
            refreshToken = "register isn't successful";
            return;
        }
        accessToken = tokens.Token;
        refreshToken = tokens.RefreshToken;
    }
}
