
.autocomplete {
    position: absolute;
    display: inline-block;
    width: 70%;
}

.main{
    display: inline;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    padding: 0.35em;
    background-color: #f1f1f1;
    width: 40%;
    border-radius: 4px;
}

.autocomplete-items {
    position: relative;
    width: 20%;
    border: 1px solid #d4d4d4;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}


.autocomplete-items div:hover {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.look-button {
    padding: 0.2em;
    border-radius: 4px;
    border: 0.15em groove transparent;
    background-color: dodgerblue;
    color: white;
    margin-left: 0.75%;
}

    .look-button:hover {
        color: dodgerblue;
        background-color: white;
        border-color: dodgerblue;
        border: 0.15em groove;
        transition-duration: 0.3s;
    }

    .look-button:active{
        transform: scale(1.2);
        transition-duration: 0.3s;
    }