@using Funds.Models;
@inject Funds.Data.IAuthService AuthService
@inject Funds.Data.IStocksService StockService


<h1>Welcome back, @AuthService.Login!</h1>
<input type="text" placeholder="Try smth like AAPL or Apple..." @oninput="(ChangeEventArgs e) => LookThrough(e?.Value?.ToString())">

@code {
    IEnumerable<StocksPreview> results = new List<StocksPreview>();

    async void LookThrough(string? input)
    {
        results = await StockService.SearchAsync(input, AuthService.AccessToken);
        foreach (StocksPreview s in results)
            Console.WriteLine(s.Name);
    }
}
