@inherits LayoutComponentBase

<PageTitle>Funds</PageTitle>

<div class="page">
    <main>
        <MyNavBarrazor></MyNavBarrazor>
        <article>
            @Body
        </article>
    </main>
</div>
