.main {
    padding-top: 5%;
}

.logo{
    width: 10%;
}

#stock-chart {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

/*.image-of-logo {
    background-color: black;
    fill: black;
}*/
