.main {
    padding-top: 5%;
}

.logo{
    width: 10%;
}


#stock-chart {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#stock-panel {
    margin-top: 0;
    margin-left: 27%;
    position: absolute;
    z-index: 11;
    margin-bottom: 10%;
}

.scaleButton {
    font-size: 10px;
    border: 0.15em groove transparent;
    border-radius: 4px;
    background-color: dodgerblue;
    color: white;
    transition-duration: 0.5s;
}

    .scaleButton:hover {
        border: 0.15em groove;
        background-color: white;
        color: dodgerblue;
        border-color: dodgerblue;
        transition-duration: 0.5s;
    }

    .scaleButton:active {
        background-color: #d1e5ff;
        transition-duration: 0.2s;
    }

.scaleButton-chosen {
    font-size: 10px;
    border: 0.15em groove;
    border-radius: 4px;
    background-color: white;
    transform: scale(1.1);
    color: chocolate;
}
        /*.image-of-logo {
    background-color: black;
    fill: black;
}*/
