@using Funds.Data;
@using Funds.Models;
@inject IStocksService StocksService
@inject NavigationManager Navigation
<table id="watchlist">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Country</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var s in StocksOnWatchlist)
      {
      <tr class="row">
        <td class="column" @onclick="() => NavigateToStock(s)"><img class="icon" src="data:image/png;base64, @s.IconUrl"></td>
        <td class="column" @onclick="() => NavigateToStock(s)">@s.Ticker</td>
        <td class="column" @onclick="() => NavigateToStock(s)">@s.Name</td>
        <td class="column" @onclick="() => NavigateToStock(s)">@s.Locale</td>
        <td class="column"><button class="deleteButton" @onclick="() => Unsubscribe(s.Ticker)">X</button></td>
      </tr>
      }
    </tbody>
</table>

@code {

    private IEnumerable<Stock> StocksOnWatchlist = new List<Stock>();


    private async Task Unsubscribe(string ticker)
    {
        await StocksService.Unsubscribe(ticker);
        StocksOnWatchlist = StocksOnWatchlist.Where(s => s.Ticker != ticker);
    }

    private void NavigateToStock(Stock s)
    {
        Navigation.NavigateTo($"dashboard/{s.Ticker}");
    }

    protected override async Task OnParametersSetAsync()
    {
        StocksOnWatchlist = await StocksService.GetWatchlistAsync();
    }
}
